body,
html {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

img {
  width: 25%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-image: url("assets/rumah.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  box-sizing: border-box;
}

.game-title {
  font-size: 55px;
  font-family: "Lilita One", sans-serif;
  color: yellow; /* Change color to match your design */
  text-align: center;
  margin-bottom: 20px;
}

.ipin{
  color: blue;
}

.dan{
  color: white;
}

.merah{
  color: red;
}

.play-button {
  padding: 15px 30px;
  font-size: 24px;
  color: black;
  background-color: #F4E869;
  border: none;
  cursor: pointer;
}


.play-button:hover {
  background-color: #5CD2E6;
}

/* Existing styles */

/* New styles for level selection */
.hidden {
  display: none;
}

#levelSelectionPage {
  text-align: center;
  padding: 20px;
}

.page-title {
  font-size: 36px;
  margin-bottom: 20px;
}

/* .level-container {
  display: flex;
  justify-content: center;
}

.level {
  margin: 10px;
  padding: 10px 20px;
  font-size: 24px;
  background-color: #4caf50;
  color: white;
  cursor: pointer;
}

.level:hover {
  background-color: #45a049;
} */

.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 20px;
  border-radius: 10px;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  display: none; /* Sembunyikan elemen loading secara default */
}

.loading-overlay.active {
  display: flex; /* Tampilkan elemen loading saat memiliki kelas 'active' */
}

.loading-spinner {
  width: 100px;
  height: 100px;
  background: url("assets/icon.png") no-repeat center
    center;
  background-size: cover;
  border-radius: 10px;
  animation: spin 2s linear infinite;
}

.loading-text {
  color: white;
  font-size: 24px;
  margin-top: 10px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* .settings-button {
  position: absolute;
  top: 10px;
  right: 10px;
} */

@media (max-width: 767px) {
  img {
    width: 50%;
  }
}